@import "reset.scss", "font.scss";

* {
  margin: 0;
  padding: 0;
  vertical-align: middle !important;
  line-height: normal !important;
  font-family: "notosans r", "gmarket m" !important;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

// start
h1 {
  font-size: 40px;
}
